<div class="wrapper" *ngIf="players">
    <h1>{{'Jugadores de: ' + teamName}}</h1>
    <div class="player-card">
        <mat-card *ngFor="let player of players" (click)="openModal(player)">
            <mat-card-header>
                <mat-card-title>{{player.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="mat-card-content">
                <picture>
                    <source media='(min-width:0px)' [srcset]="player.picture">
                    <img mat-card-image src="">
                </picture>
            </mat-card-content>
        </mat-card>
    </div>
</div>