.player-card {
  display: flex;
  flex-direction: row;  
}

.wrapper {
    margin: 50px;
}

mat-card {
  margin-left: 30px;
  margin-right: 30px;
  width: 250px;
  height: 250px;
  justify-content: center;
  border: 5px solid #000;
  background-color: lightskyblue;

  .mat-card-image {
      margin: 0;
      height: 100%;
  }

  .mat-card-content {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      & > * {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: auto;
        max-width: 50%;
      }
    }
}

.mat-card-image {
  max-width: 150px;
  max-height: 150px;
}

mat-card-header {
  justify-content: center;
  border-bottom: 5px dotted #000;
}