<div class="wrapper">
    <h2>{{player.name}}</h2>
    <img [src]="player.picture">
    <span style="display: flex;">{{ (player.value | number: '0.2-2') + "€"}}</span>
    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="">Cerrar</button>
    </div>
</div>