.wrapper {
    display: flex;
    flex-direction: column;
}

img {
    align-self: center;
    width: 500px;
    height: 500px;
}

h2 {
    border-bottom: dotted black;
}

span {
    color: black;
    font-size: 53px;
    letter-spacing: 21px;
    padding-left:8px;
    margin-top: 30px;
}

button {
  background-color: #8a8a8a;
  border: none;
  color: white;
  padding: 15px 32px;
  justify-content: flex-end;
  text-decoration: none;
  font-size: 16px;
  margin-top: 30px;
}