
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-image: url('../img/stadium.jpg'); background-repeat: no-repeat;background-size: cover; }
h1 { color: #ffffff; font-family: 'Raleway',sans-serif; font-size: 62px; font-weight: 800; line-height: 72px; text-transform: uppercase; }
h2 { color: #000000; font-family: 'Raleway',sans-serif; font-size: 50px; font-weight: 800; line-height: 60px; text-transform: uppercase; }

.mat-dialog-container {
    background-color: lightskyblue;
}